<center>
<img src="https://habrastorage.org/web/677/8e1/337/6778e1337c3d4b159d7e99df94227cb2.jpg"/>
## Специализация "Машинное обучение и анализ данных"
<center>Автор материала: программист-исследователь Mail.Ru Group, старший преподаватель Факультета Компьютерных Наук ВШЭ [Юрий Кашницкий](https://yorko.github.io/)

# <center> Capstone проект №1 <br> Идентификация пользователей по посещенным веб-страницам
<img src='http://i.istockimg.com/file_thumbview_approve/21546327/5/stock-illustration-21546327-identification-de-l-utilisateur.jpg'>

# <center>Неделя 5.  Соревнование Kaggle "Catch Me If You Can"

На этой неделе мы вспомним про концепцию стохастического градиентного спуска и опробуем классификатор Scikit-learn SGDClassifier, который работает намного быстрее на больших выборках, чем алгоритмы, которые мы тестировали на 4 неделе. Также мы познакомимся с данными [соревнования](https://inclass.kaggle.com/c/catch-me-if-you-can-intruder-detection-through-webpage-session-tracking2) Kaggle по идентификации пользователей и сделаем в нем первые посылки. По итогам этой недели дополнительные баллы получат те, кто попадет в топ-30 публичного лидерборда соревнования.

**В этой части проекта Вам могут быть полезны видеозаписи следующих лекций курса "Обучение на размеченных данных":**
   - [Стохатический градиентный спуск](https://www.coursera.org/learn/supervised-learning/lecture/xRY50/stokhastichieskii-ghradiientnyi-spusk)
   - [Линейные модели. Sklearn.linear_model. Классификация](https://www.coursera.org/learn/supervised-learning/lecture/EBg9t/linieinyie-modieli-sklearn-linear-model-klassifikatsiia)
   
**Также рекомендуется вернуться и просмотреть [задание](https://www.coursera.org/learn/supervised-learning/programming/t2Idc/linieinaia-rieghriessiia-i-stokhastichieskii-ghradiientnyi-spusk) "Линейная регрессия и стохастический градиентный спуск" 1 недели 2 курса специализации.**

### Задание
1. Заполните код в этой тетрадке 
2. Если вы проходите специализацию Яндеса и МФТИ, пошлите тетрадку в соответствующем Peer Review. <br> Если вы проходите курс ODS, выберите ответы в [веб-форме](https://docs.google.com/forms/d/1pLsegkAICL9PzOLyAeH9DmDOBfktte0l8JW75uWcTng).

In [49]:
from __future__ import division, print_function
# отключим всякие предупреждения Anaconda
from sklearn.metrics import roc_auc_score
from sklearn.linear_model import SGDClassifier, LogisticRegression
from sklearn.model_selection import train_test_split
from scipy.sparse import csr_matrix
import pandas as pd
import numpy as np
import pickle
import os
import warnings
warnings.filterwarnings('ignore')


from sklearn.feature_extraction.text import CountVectorizer, TfidfTransformer
import re
from tqdm import tqdm
from sklearn.feature_selection import SelectFromModel

**Считаем данные [соревнования](https://inclass.kaggle.com/c/catch-me-if-you-can-intruder-detection-through-webpage-session-tracking2) в DataFrame train_df и test_df (обучающая и тестовая выборки).**

In [2]:
# Поменяйте на свой путь к данным
PATH_TO_DATA = 'capstone_user_identification'

In [3]:
train_df = pd.read_csv(os.path.join(PATH_TO_DATA, 'train_sessions.csv'),
                       index_col='session_id')
test_df = pd.read_csv(os.path.join(PATH_TO_DATA, 'test_sessions.csv'),
                      index_col='session_id')

In [4]:
train_df.head()

,site1,time1,site2,time2,site3,time3,site4,time4,site5,time5,...,time6,site7,time7,site8,time8,site9,time9,site10,time10,target
session_id,,,,,,,,,,,,,,,,,,,,,
1,718,2014-02-20 10:02:45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2,890,2014-02-22 11:19:50,941.0,2014-02-22 11:19:50,3847.0,2014-02-22 11:19:51,941.0,2014-02-22 11:19:51,942.0,2014-02-22 11:19:51,...,2014-02-22 11:19:51,3847.0,2014-02-22 11:19:52,3846.0,2014-02-22 11:19:52,1516.0,2014-02-22 11:20:15,1518.0,2014-02-22 11:20:16,0
3,14769,2013-12-16 16:40:17,39.0,2013-12-16 16:40:18,14768.0,2013-12-16 16:40:19,14769.0,2013-12-16 16:40:19,37.0,2013-12-16 16:40:19,...,2013-12-16 16:40:19,14768.0,2013-12-16 16:40:20,14768.0,2013-12-16 16:40:21,14768.0,2013-12-16 16:40:22,14768.0,2013-12-16 16:40:24,0
4,782,2014-03-28 10:52:12,782.0,2014-03-28 10:52:42,782.0,2014-03-28 10:53:12,782.0,2014-03-28 10:53:42,782.0,2014-03-28 10:54:12,...,2014-03-28 10:54:42,782.0,2014-03-28 10:55:12,782.0,2014-03-28 10:55:42,782.0,2014-03-28 10:56:12,782.0,2014-03-28 10:56:42,0
5,22,2014-02-28 10:53:05,177.0,2014-02-28 10:55:22,175.0,2014-02-28 10:55:22,178.0,2014-02-28 10:55:23,177.0,2014-02-28 10:55:23,...,2014-02-28 10:55:59,175.0,2014-02-28 10:55:59,177.0,2014-02-28 10:55:59,177.0,2014-02-28 10:57:06,178.0,2014-02-28 10:57:11,0

In [5]:
train_df.shape, test_df.shape

((253561, 21), (82797, 20))

**Объединим обучающую и тестовую выборки – это понадобится, чтоб вместе потом привести их к разреженному формату.**

In [6]:
train_test_df = pd.concat([train_df, test_df])

In [7]:
train_test_df.shape

(336358, 21)

В обучающей выборке видим следующие признаки:
    - site1 – индекс первого посещенного сайта в сессии
    - time1 – время посещения первого сайта в сессии
    - ...
    - site10 – индекс 10-го посещенного сайта в сессии
    - time10 – время посещения 10-го сайта в сессии
    - user_id – ID пользователя
    
Сессии пользователей выделены таким образом, что они не могут быть длинее получаса или 10 сайтов. То есть сессия считается оконченной либо когда пользователь посетил 10 сайтов подряд, либо когда сессия заняла по времени более 30 минут.

**Посмотрим на статистику признаков.**

Пропуски возникают там, где сессии короткие (менее 10 сайтов). Скажем, если человек 1 января 2015 года посетил *vk.com* в 20:01, потом *yandex.ru* в 20:29, затем *google.com* в 20:33, то первая его сессия будет состоять только из двух сайтов (site1 – ID сайта *vk.com*, time1 – 2015-01-01 20:01:00, site2 – ID сайта  *yandex.ru*, time2 – 2015-01-01 20:29:00, остальные признаки – NaN), а начиная с *google.com* пойдет новая сессия, потому что уже прошло более 30 минут с момента посещения *vk.com*.

In [8]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 253561 entries, 1 to 253561
Data columns (total 21 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   site1   253561 non-null  int64
 1   time1   253561 non-null  object
 2   site2   250098 non-null  float64
 3   time2   250098 non-null  object
 4   site3   246919 non-null  float64
 5   time3   246919 non-null  object
 6   site4   244321 non-null  float64
 7   time4   244321 non-null  object
 8   site5   241829 non-null  float64
 9   time5   241829 non-null  object
 10  site6   239495 non-null  float64
 11  time6   239495 non-null  object
 12  site7   237297 non-null  float64
 13  time7   237297 non-null  object
 14  site8   235224 non-null  float64
 15  time8   235224 non-null  object
 16  site9   233084 non-null  float64
 17  time9   233084 non-null  object
 18  site10  231052 non-null  float64
 19  time10  231052 non-null  object
 20  target  253561 non-null  int64
dtypes: float64(9), int64(2), object(10)
memory usage: 42.6+ MB

In [9]:
test_df.head()

,site1,time1,site2,time2,site3,time3,site4,time4,site5,time5,site6,time6,site7,time7,site8,time8,site9,time9,site10,time10
session_id,,,,,,,,,,,,,,,,,,,,
1,29,2014-10-04 11:19:53,35.0,2014-10-04 11:19:53,22.0,2014-10-04 11:19:54,321.0,2014-10-04 11:19:54,23.0,2014-10-04 11:19:54,2211.0,2014-10-04 11:19:54,6730.0,2014-10-04 11:19:54,21.0,2014-10-04 11:19:54,44582.0,2014-10-04 11:20:00,15336.0,2014-10-04 11:20:00
2,782,2014-07-03 11:00:28,782.0,2014-07-03 11:00:53,782.0,2014-07-03 11:00:58,782.0,2014-07-03 11:01:06,782.0,2014-07-03 11:01:09,782.0,2014-07-03 11:01:10,782.0,2014-07-03 11:01:23,782.0,2014-07-03 11:01:29,782.0,2014-07-03 11:01:30,782.0,2014-07-03 11:01:53
3,55,2014-12-05 15:55:12,55.0,2014-12-05 15:55:13,55.0,2014-12-05 15:55:14,55.0,2014-12-05 15:56:15,55.0,2014-12-05 15:56:16,55.0,2014-12-05 15:56:17,55.0,2014-12-05 15:56:18,55.0,2014-12-05 15:56:19,1445.0,2014-12-05 15:56:33,1445.0,2014-12-05 15:56:36
4,1023,2014-11-04 10:03:19,1022.0,2014-11-04 10:03:19,50.0,2014-11-04 10:03:20,222.0,2014-11-04 10:03:21,202.0,2014-11-04 10:03:21,3374.0,2014-11-04 10:03:22,50.0,2014-11-04 10:03:22,48.0,2014-11-04 10:03:22,48.0,2014-11-04 10:03:23,3374.0,2014-11-04 10:03:23
5,301,2014-05-16 15:05:31,301.0,2014-05-16 15:05:32,301.0,2014-05-16 15:05:33,66.0,2014-05-16 15:05:39,67.0,2014-05-16 15:05:40,69.0,2014-05-16 15:05:40,70.0,2014-05-16 15:05:40,68.0,2014-05-16 15:05:40,71.0,2014-05-16 15:05:40,167.0,2014-05-16 15:05:44

In [10]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 82797 entries, 1 to 82797
Data columns (total 20 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   site1   82797 non-null  int64
 1   time1   82797 non-null  object
 2   site2   81308 non-null  float64
 3   time2   81308 non-null  object
 4   site3   80075 non-null  float64
 5   time3   80075 non-null  object
 6   site4   79182 non-null  float64
 7   time4   79182 non-null  object
 8   site5   78341 non-null  float64
 9   time5   78341 non-null  object
 10  site6   77566 non-null  float64
 11  time6   77566 non-null  object
 12  site7   76840 non-null  float64
 13  time7   76840 non-null  object
 14  site8   76151 non-null  float64
 15  time8   76151 non-null  object
 16  site9   75484 non-null  float64
 17  time9   75484 non-null  object
 18  site10  74806 non-null  float64
 19  time10  74806 non-null  object
dtypes: float64(9), int64(1), object(10)
memory usage: 13.3+ MB

**В обучающей выборке – 2297 сессий одного пользователя (Alice) и 251264 сессий – других пользователей, не Элис. Дисбаланс классов очень сильный, и смотреть на долю верных ответов (accuracy) непоказательно.**

In [11]:
train_df['target'].value_counts()

0    251264
1      2297
Name: target, dtype: int64

**Пока для прогноза будем использовать только индексы посещенных сайтов. Индексы нумеровались с 1, так что заменим пропуски на нули.**

In [12]:
train_test_df_sites = train_test_df[[
    'site%d' % i for i in range(1, 11)]].fillna(0).astype('int')

In [13]:
train_test_df_sites.head(10)

,site1,site2,site3,site4,site5,site6,site7,site8,site9,site10
session_id,,,,,,,,,,
1,718,0,0,0,0,0,0,0,0,0
2,890,941,3847,941,942,3846,3847,3846,1516,1518
3,14769,39,14768,14769,37,39,14768,14768,14768,14768
4,782,782,782,782,782,782,782,782,782,782
5,22,177,175,178,177,178,175,177,177,178
6,570,21,570,21,21,0,0,0,0,0
7,803,23,5956,17513,37,21,803,17514,17514,17514
8,22,21,29,5041,14422,23,21,5041,14421,14421
9,668,940,942,941,941,942,940,23,21,22
10,3700,229,570,21,229,21,21,21,2336,2044

**Создайте разреженные матрицы *X_train_sparse* и *X_test_sparse* аналогично тому, как мы это делали ранее. Используйте объединенную матрицу *train_test_df_sites*, потом разделите обратно на обучающую и тестовую части.**

Обратите внимание на то, что в  сессиях меньше 10 сайтов  у нас остались нули, так что первый признак (сколько раз попался 0) по смыслу отличен от остальных (сколько раз попался сайт с индексом $i$). Поэтому первый столбец разреженной матрицы надо будет удалить.

**Выделите в отдельный вектор *y* ответы на обучающей выборке.**

In [14]:
def term_matrix(docs):
    """
    Returns parameters for construction sparse matrix from initial `docs` table.
    vocabulary - dictionary of terms, value as index.
    indicies - list of term indicies.
    data - list of data existence
    indptr - 
    """
    indptr = [0]
    indices = []
    data = []
    vocabulary = {}
    for d in docs:
        for term in d:
            index = vocabulary.setdefault(term, term)
            indices.append(index)
            data.append(1)
        indptr.append(len(indices))
    return data, indices, indptr

In [15]:
def get_sparse(X, nr=(1, 1), tp='\w+'):
    # Determine vocabulary_ of Counting ngrams
    vectorizer = CountVectorizer(
        ngram_range=nr, token_pattern=tp)
    vectorizer.fit_transform(
        [" ".join(map(str, row)) for row in X])
    voc = vectorizer.vocabulary_
    # Remove '0's from vocabulary_
    remove = [k for k in voc.keys() if (
        len(re.findall(r'(^0$)|( 0 )|(^0 )', k)))]
    for k in remove:
        del voc[k]
    # Reindexing
    ind = 0
    for k in voc:
        voc[k] = ind
        ind += 1
    # Transform again with new vocabulary
    vectorizer = CountVectorizer(
        ngram_range=nr, token_pattern=tp, vocabulary=voc)
    return (vectorizer.fit_transform(
        [" ".join(map(str, row)) for row in X]), vectorizer.vocabulary_)

In [16]:
train_test_sparse = csr_matrix(term_matrix(
    np.array(train_test_df_sites)))[:, 1:]

In [17]:
train_test_sparse.shape

(336358, 48371)

Or through CountVectorizer

In [18]:
u = get_sparse(train_test_df_sites.values)

In [19]:
u[0].shape

(336358, 48371)

train_test_sparse.dtype

Размер неразряженной матрицы 121 Gb (если размер одной ячейки 64bit)

train_test_sparse.shape[0]*train_test_sparse.shape[1]*64/8/1024**3

Можно сократить размер ячейки до 8 бит, но всеравно неразряженная матрица будет большой (15 Gb). Поэтому имеется смысл использования csr  матрицы

train_test_sparse.shape[0]*train_test_sparse.shape[1]*8/8/1024**3

In [20]:
train_test_sparse = train_test_sparse.astype('uint8')

Split on train and test

In [21]:
train_len = train_df.shape[0]
X_train_sparse = train_test_sparse[:train_len]
X_test_sparse = train_test_sparse[train_len:]
y = train_df['target'].to_numpy()

#### <font color='red'>Вопрос 1. </font> 
**Выведите размерности матриц *X_train_sparse* и *X_test_sparse* – 4 числа на одной строке через пробел: число строк и столбцов матрицы *X_train_sparse*, затем число строк и столбцов матрицы *X_test_sparse*.**

In [22]:
" ".join([f"{a} {b}" for a, b in [X_train_sparse.shape, X_test_sparse.shape]])

'253561 48371 82797 48371'

**Сохраним в pickle-файлы объекты *X_train_sparse*, *X_test_sparse* и *y* (последний – в файл *kaggle_data/train_target.pkl*).**

In [23]:
with open(os.path.join(PATH_TO_DATA, 'X_train_sparse.pkl'), 'wb') as X_train_sparse_pkl:
    pickle.dump(X_train_sparse, X_train_sparse_pkl, protocol=2)
with open(os.path.join(PATH_TO_DATA, 'X_test_sparse.pkl'), 'wb') as X_test_sparse_pkl:
    pickle.dump(X_test_sparse, X_test_sparse_pkl, protocol=2)
with open(os.path.join(PATH_TO_DATA, 'train_target.pkl'), 'wb') as train_target_pkl:
    pickle.dump(y, train_target_pkl, protocol=2)

**Разобьем обучающую выборку на 2 части в пропорции 7/3, причем не перемешивая. Исходные данные упорядочены по времени, тестовая выборка по времени четко отделена от обучающей, это же соблюдем и здесь.**

In [24]:
train_share = int(.7 * X_train_sparse.shape[0])
X_train, y_train = X_train_sparse[:train_share, :], y[:train_share]
X_valid, y_valid = X_train_sparse[train_share:, :], y[train_share:]

### SGD_logit

**Создайте объект `sklearn.linear_model.SGDClassifier` с логистической функцией потерь и параметром *random_state*=17. Остальные параметры оставьте по умолчанию, разве что *n_jobs*=-1 никогда не помешает. Обучите  модель на выборке `(X_train, y_train)`.**

In [25]:
sgd_logit = SGDClassifier(loss='log', random_state=17, n_jobs=-1)
sgd_logit.fit(X_train, y_train)

SGDClassifier(alpha=0.0001, average=False, class_weight=None,
              early_stopping=False, epsilon=0.1, eta0=0.0, fit_intercept=True,
              l1_ratio=0.15, learning_rate='optimal', loss='log', max_iter=1000,
              n_iter_no_change=5, n_jobs=-1, penalty='l2', power_t=0.5,
              random_state=17, shuffle=True, tol=0.001, validation_fraction=0.1,
              verbose=0, warm_start=False)

**Сделайте прогноз в виде предсказанных вероятностей того, что это сессия Элис, на отложенной выборке *(X_valid, y_valid)*.**

In [26]:
logit_valid_pred_proba = sgd_logit.predict_proba(X_valid)

In [27]:
sgd_logit.classes_

array([0, 1])

In [28]:
logit_valid_pred_proba.shape

(76069, 2)

In [29]:
logit_valid_pred_proba

array([[9.11911413e-01, 8.80885865e-02],
       [9.99703507e-01, 2.96493343e-04],
       [9.99872654e-01, 1.27345522e-04],
       ...,
       [9.87751880e-01, 1.22481202e-02],
       [9.99943934e-01, 5.60663172e-05],
       [9.88685254e-01, 1.13147460e-02]])

#### SGD_logit AUC score

#### <font color='red'>Вопрос 2. </font> 
**Посчитайте ROC AUC логистической регрессии, обученной с помощью стохастического градиентного спуска, на отложенной выборке. Округлите до 3 знаков после разделителя.**

In [30]:
auc = roc_auc_score(y_valid, logit_valid_pred_proba[:, 1])
print(f"AUC score: {auc:.3f}")

AUC score: 0.934

**Сделайте прогноз в виде предсказанных вероятностей отнесения к классу 1 для тестовой выборки с помощью той же *sgd_logit*, обученной уже на всей обучающей выборке (а не на 70%).**

In [32]:
%%time
sgd_logit = SGDClassifier(random_state=17, n_jobs=-1, loss='log')
sgd_logit.fit(X_train_sparse, y)
logit_test_pred_proba = sgd_logit.predict_proba(X_test_sparse)

CPU times: user 685 ms, sys: 259 µs, total: 685 ms
Wall time: 607 ms

**Запишите ответы в файл и сделайте посылку на Kaggle. Дайте своей команде (из одного человека) на Kaggle говорящее название – по шаблону "[YDF & MIPT] Coursera_Username", чтоб можно было легко идентифицировать Вашу посылку на [лидерборде](https://inclass.kaggle.com/c/catch-me-if-you-can-intruder-detection-through-webpage-session-tracking2/leaderboard/public).**

**Результат, который мы только что получили, соответствует бейзлайну "SGDCLassifer" на лидерборде, задача на эту неделю – как минимум его побить.**

In [33]:
def write_to_submission_file(predicted_labels, out_file,
                             target='target', index_label="session_id"):
    # turn predictions into data frame and save as csv file
    predicted_df = pd.DataFrame(predicted_labels,
                                index=np.arange(
                                    1, predicted_labels.shape[0] + 1),
                                columns=[target])
    predicted_df.to_csv(out_file, index_label=index_label)

In [34]:
write_to_submission_file(logit_test_pred_proba[:, 1], "out.csv")

In [35]:
logit_test_pred_proba[:, 1]

array([1.24441919e-02, 5.64920887e-05, 1.81927605e-05, ...,
       1.17325100e-02, 5.00373821e-03, 1.04058395e-03])

#### **Public score 0.91646**

In [36]:
del train_test_df
del train_test_df_sites

### Vector plus ngrams

Sort data by time for correct validation

In [37]:
sites = ['site%d' % i for i in range(1, 11)]

train = train_df.sort_values(by='time1')
y = train['target'].astype('uint8').values
train_test = pd.concat([train, test_df]).fillna(0)

print("Max value for site id = {} < 2^16".format(max(train_test[sites].max())))

train_test_sites = train_test[sites].astype('uint16')

print(train_test_sites.shape)

train_test_sites.head()

Max value for site id = 48371.0 < 2^16
(336358, 10)

,site1,site2,site3,site4,site5,site6,site7,site8,site9,site10
session_id,,,,,,,,,,
21669,56,55,0,0,0,0,0,0,0,0
54843,56,55,56,55,0,0,0,0,0,0
77292,946,946,951,946,946,945,948,784,949,946
114021,945,948,949,948,945,946,947,945,946,946
146670,947,950,948,947,950,952,946,951,946,947

Add ngrams to vector of sites.

Split on train/test/train_part/valid

In [38]:
def get_train_test_trainpart_valid(X, Y):
    n = Y.shape[0]
    n_part = int(0.7*n)
    train, test = X[:n],  X[n:]
    train_part, y_part = train[:n_part], Y[:n_part]
    valid, y_valid = train[n_part:], Y[n_part:]
    return train, test, train_part, y_part, valid, y_valid

### **SGD_logit** sites plus ngrams

In [39]:
from sklearn.model_selection import TimeSeriesSplit, cross_val_score

In [102]:
def cross_val(model, X, Y):
    # train model on train_part and get score on validation
    print(f"Number of features : {X.shape[1]}")
    train, test,  train_part, y_part, valid, y_valid = \
        get_train_test_trainpart_valid(X, Y)
    model.fit(train_part, y_part)
    predictions = model.predict_proba(valid)
    auc = roc_auc_score(y_valid, predictions[:, 1])
    print(f"AUC score on valid part: {auc:.4f}")

    # train model on train set and get cv score
    time_split = TimeSeriesSplit(n_splits=6)
    model.fit(train, Y)
    cv_scores = cross_val_score(model, train, Y, cv=time_split,
                                scoring='roc_auc', n_jobs=1)
    print(
        f"AUC score on cross-val: {cv_scores.mean():.4f} {cv_scores.std():.4f}\n")
    return cv_scores

In [84]:
def model_assessment(model, X, Y):
    # Scores on X
    cross_val(model, X, Y)

    # Selection features
    print("Selection :")
    selector = SelectFromModel(model, max_features=min(500, X.shape[1])).fit(X[:Y.shape[0]], Y)
    X_transformed=selector.transform(X)

    # Scores on X-transformed
    cross_val(model, X_transformed, Y)

In [85]:
sgd_logit = SGDClassifier(random_state=17, n_jobs=-1, loss='log')

Оценка Ngram и количества признаков, на которых модель выглядит лучше по AUC валидации и кросс-валидации.

In [86]:
for i in tqdm(range(1, 9)):
    print(f"Vector plus (1,{i}) ngrams :")
    train_test_sparse, _ = get_sparse(train_test_sites.values, nr=(1, i))
    model_assessment(sgd_logit, train_test_sparse, y)

  0%|          | 0/8 [00:00<?, ?it/s]

Vector plus (1,1) ngrams :
Number of features : 48371
AUC score on valid part: 0.8604
AUC score on cross-val: 0.8306 0.0909

Selection :
Number of features : 500
AUC score on valid part: 0.8953

 12%|█▎        | 1/8 [00:22<02:40, 22.92s/it]

AUC score on cross-val: 0.8528 0.0920

Vector plus (1,2) ngrams :
Number of features : 432875
AUC score on valid part: 0.8616
AUC score on cross-val: 0.8359 0.0944

Selection :
Number of features : 500
AUC score on valid part: 0.8936

 25%|██▌       | 2/8 [00:57<02:38, 26.37s/it]

AUC score on cross-val: 0.8701 0.0657

Vector plus (1,3) ngrams :
Number of features : 1288967
AUC score on valid part: 0.8590
AUC score on cross-val: 0.8351 0.0986

Selection :
Number of features : 500
AUC score on valid part: 0.8961

 38%|███▊      | 3/8 [01:41<02:38, 31.76s/it]

AUC score on cross-val: 0.8744 0.0626

Vector plus (1,4) ngrams :
Number of features : 2444485
AUC score on valid part: 0.8591
AUC score on cross-val: 0.8338 0.1007

Selection :
Number of features : 500
AUC score on valid part: 0.8975

 50%|█████     | 4/8 [02:41<02:40, 40.25s/it]

AUC score on cross-val: 0.8746 0.0627

Vector plus (1,5) ngrams :
Number of features : 3688818
AUC score on valid part: 0.8587
AUC score on cross-val: 0.8330 0.1020

Selection :
Number of features : 500
AUC score on valid part: 0.8978

 62%|██████▎   | 5/8 [03:56<02:31, 50.62s/it]

AUC score on cross-val: 0.8741 0.0628

Vector plus (1,6) ngrams :
Number of features : 4863251
AUC score on valid part: 0.8583
AUC score on cross-val: 0.8311 0.1055

Selection :
Number of features : 500
AUC score on valid part: 0.8979

 75%|███████▌  | 6/8 [05:26<02:05, 62.56s/it]

AUC score on cross-val: 0.8740 0.0627

Vector plus (1,7) ngrams :
Number of features : 5871108
AUC score on valid part: 0.8576
AUC score on cross-val: 0.8313 0.1043

Selection :
Number of features : 500
AUC score on valid part: 0.8977

 88%|████████▊ | 7/8 [07:11<01:15, 75.04s/it]

AUC score on cross-val: 0.8740 0.0628

Vector plus (1,8) ngrams :
Number of features : 6659432
AUC score on valid part: 0.8572
AUC score on cross-val: 0.8291 0.1061

Selection :
Number of features : 500
AUC score on valid part: 0.8976

100%|██████████| 8/8 [09:10<00:00, 68.82s/it]

AUC score on cross-val: 0.8741 0.0628

Кросс-валидация на большом количестве признаков падает, много шумовых признаков.
После выборки признаков по модели, качество возрастает. Ngrams дают новые признаки, на которых модель выдает лучшие оценки.

In [104]:
train_test_sparse, _ = get_sparse(train_test_sites.values, nr=(1, 6))
model_assessment(sgd_logit, train_test_sparse, y)
X, Y = train_test_sparse, y
model = sgd_logit

for nf in np.arange(400, 600, 10):
    selector = SelectFromModel(model, max_features=min(
        nf, X.shape[1])).fit(X[:Y.shape[0]], Y)
    X_transformed = selector.transform(X)
    scores = cross_val(model, X_transformed, Y)

Number of features : 4863251
AUC score on valid part: 0.8583
AUC score on cross-val: 0.8311 0.1055

Selection :
Number of features : 500
AUC score on valid part: 0.8979
AUC score on cross-val: 0.8740 0.0627

Number of features : 400
AUC score on valid part: 0.8931
AUC score on cross-val: 0.8738 0.0668

Number of features : 410
AUC score on valid part: 0.8955
AUC score on cross-val: 0.8729 0.0629

Number of features : 420
AUC score on valid part: 0.8942
AUC score on cross-val: 0.8723 0.0625

Number of features : 430
AUC score on valid part: 0.8943
AUC score on cross-val: 0.8735 0.0607

Number of features : 440
AUC score on valid part: 0.8949
AUC score on cross-val: 0.8728 0.0623

Number of features : 450
AUC score on valid part: 0.8955
AUC score on cross-val: 0.8733 0.0628

Number of features : 460
AUC score on valid part: 0.8973
AUC score on cross-val: 0.8741 0.0628

Number of features : 470
AUC score on valid part: 0.8975
AUC score on cross-val: 0.8742 0.0627

Number of features : 480
AUC score on valid part: 0.8976
AUC score on cross-val: 0.8741 0.0625

Number of features : 490
AUC score on valid part: 0.8979
AUC score on cross-val: 0.8745 0.0622

Number of features : 500
AUC score on valid part: 0.8979
AUC score on cross-val: 0.8740 0.0627

Number of features : 510
AUC score on valid part: 0.8978
AUC score on cross-val: 0.8740 0.0630

Number of features : 520
AUC score on valid part: 0.8972
AUC score on cross-val: 0.8737 0.0640

Number of features : 530
AUC score on valid part: 0.8973
AUC score on cross-val: 0.8738 0.0639

Number of features : 540
AUC score on valid part: 0.8975
AUC score on cross-val: 0.8741 0.0637

Number of features : 550
AUC score on valid part: 0.8951
AUC score on cross-val: 0.8710 0.0678

Number of features : 560
AUC score on valid part: 0.8952
AUC score on cross-val: 0.8715 0.0678

Number of features : 570
AUC score on valid part: 0.8938
AUC score on cross-val: 0.8705 0.0683

Number of features : 580
AUC score on valid part: 0.8939
AUC score on cross-val: 0.8707 0.0682

Number of features : 590
AUC score on valid part: 0.8941
AUC score on cross-val: 0.8711 0.0683

Примерно 490 признаков дают хорошую оценку на кросс-валидации

Отбор признаков, на которых модель работает лучше.

In [117]:
X, Y = train_test_sparse, y
model = sgd_logit
nf = int(X.shape[1]/10)
while(nf > 10000):
    selector = SelectFromModel(model, max_features=nf).fit(X[:Y.shape[0]], Y)
    X = selector.transform(X)
    cross_val(model, X, Y)
    nf = int(X.shape[1]/10)

Number of features : 486325
AUC score on valid part: 0.8587
AUC score on cross-val: 0.8323 0.1035

Number of features : 48632
AUC score on valid part: 0.8657
AUC score on cross-val: 0.8397 0.0978

In [118]:
# X, Y = train_test_sparse, y
grid = []
for nf in np.arange(400, 800, 10):
    selector = SelectFromModel(model, max_features=nf).fit(X[:Y.shape[0]], Y)
    X_transformed = selector.transform(X)
    scores = cross_val(model, X_transformed, Y)
    grid.append((scores.mean(), scores.std(), nf))

Number of features : 400
AUC score on valid part: 0.8929
AUC score on cross-val: 0.8736 0.0667

Number of features : 410
AUC score on valid part: 0.8935
AUC score on cross-val: 0.8740 0.0667

Number of features : 420
AUC score on valid part: 0.8939
AUC score on cross-val: 0.8737 0.0646

Number of features : 430
AUC score on valid part: 0.8943
AUC score on cross-val: 0.8734 0.0647

Number of features : 440
AUC score on valid part: 0.8964
AUC score on cross-val: 0.8740 0.0611

Number of features : 450
AUC score on valid part: 0.8954
AUC score on cross-val: 0.8740 0.0609

Number of features : 460
AUC score on valid part: 0.8956
AUC score on cross-val: 0.8741 0.0608

Number of features : 470
AUC score on valid part: 0.8973
AUC score on cross-val: 0.8750 0.0608

Number of features : 480
AUC score on valid part: 0.8974
AUC score on cross-val: 0.8749 0.0618

Number of features : 490
AUC score on valid part: 0.8971
AUC score on cross-val: 0.8745 0.0630

Number of features : 500
AUC score on valid part: 0.8973
AUC score on cross-val: 0.8741 0.0632

Number of features : 510
AUC score on valid part: 0.8971
AUC score on cross-val: 0.8741 0.0636

Number of features : 520
AUC score on valid part: 0.8968
AUC score on cross-val: 0.8732 0.0648

Number of features : 530
AUC score on valid part: 0.8973
AUC score on cross-val: 0.8738 0.0638

Number of features : 540
AUC score on valid part: 0.8976
AUC score on cross-val: 0.8739 0.0637

Number of features : 550
AUC score on valid part: 0.8963
AUC score on cross-val: 0.8730 0.0633

Number of features : 560
AUC score on valid part: 0.8963
AUC score on cross-val: 0.8734 0.0632

Number of features : 570
AUC score on valid part: 0.8965
AUC score on cross-val: 0.8703 0.0717

Number of features : 580
AUC score on valid part: 0.8943
AUC score on cross-val: 0.8696 0.0713

Number of features : 590
AUC score on valid part: 0.8946
AUC score on cross-val: 0.8695 0.0720

Number of features : 600
AUC score on valid part: 0.8942
AUC score on cross-val: 0.8678 0.0762

Number of features : 610
AUC score on valid part: 0.8941
AUC score on cross-val: 0.8680 0.0764

Number of features : 620
AUC score on valid part: 0.8943
AUC score on cross-val: 0.8683 0.0764

Number of features : 630
AUC score on valid part: 0.8943
AUC score on cross-val: 0.8684 0.0763

Number of features : 640
AUC score on valid part: 0.8936
AUC score on cross-val: 0.8687 0.0762

Number of features : 650
AUC score on valid part: 0.8935
AUC score on cross-val: 0.8686 0.0765

Number of features : 660
AUC score on valid part: 0.8925
AUC score on cross-val: 0.8683 0.0750

Number of features : 670
AUC score on valid part: 0.8925
AUC score on cross-val: 0.8683 0.0750

Number of features : 680
AUC score on valid part: 0.8928
AUC score on cross-val: 0.8684 0.0749

Number of features : 690
AUC score on valid part: 0.8928
AUC score on cross-val: 0.8684 0.0746

Number of features : 700
AUC score on valid part: 0.8926
AUC score on cross-val: 0.8686 0.0745

Number of features : 710
AUC score on valid part: 0.8923
AUC score on cross-val: 0.8685 0.0745

Number of features : 720
AUC score on valid part: 0.8954
AUC score on cross-val: 0.8636 0.0896

Number of features : 730
AUC score on valid part: 0.8954
AUC score on cross-val: 0.8636 0.0899

Number of features : 740
AUC score on valid part: 0.8955
AUC score on cross-val: 0.8638 0.0899

Number of features : 750
AUC score on valid part: 0.8953
AUC score on cross-val: 0.8630 0.0892

Number of features : 760
AUC score on valid part: 0.8953
AUC score on cross-val: 0.8630 0.0892

Number of features : 770
AUC score on valid part: 0.8952
AUC score on cross-val: 0.8630 0.0892

Number of features : 780
AUC score on valid part: 0.8950
AUC score on cross-val: 0.8631 0.0890

Number of features : 790
AUC score on valid part: 0.8950
AUC score on cross-val: 0.8629 0.0894

In [122]:
sorted(grid)[-1:]

[(0.8749522922274275, 0.060766084849902646, 470)]

In [124]:
selector = SelectFromModel(model, max_features=470).fit(X[:Y.shape[0]], Y)
X_transformed = selector.transform(X)

In [126]:
cross_val(sgd_logit, X_transformed, y)

Number of features : 470
AUC score on valid part: 0.8973
AUC score on cross-val: 0.8750 0.0608

array([0.74457889, 0.90671923, 0.87453794, 0.90817977, 0.88687132,
       0.9288266 ])

In [130]:
train, test,  train_part, y_part, valid, y_valid = \
    get_train_test_trainpart_valid(X_transformed, Y)

model.fit(train, Y)
proba = model.predict_proba(test)

write_to_submission_file(proba[:, 1], "out1.csv")

#### **Public score : 0.92017**

### Tf-IDF convertion

Tf-idf конвертирует таблицу векторов согласно значимости термов. Частые термы, встречающиеся во всех документах уменьшит.

In [78]:
tfid = TfidfTransformer()
train_test_sparse, _ = get_sparse(train_test_sites.values, nr=(1, 5))
train_test_sparse = tfid.fit_transform(train_test_sparse)
model_assessment(sgd_logit, train_test_sparse, y)

Number of features : 3688818
AUC score on valid part: 0.8699
AUC score on cross-val: 0.8084 0.0957

Selection :
Number of features : 40000
AUC score on valid part: 0.8717
AUC score on cross-val: 0.8087 0.0962

In [80]:
X, Y = train_test_sparse, y
model = sgd_logit
for nf in np.arange(500, 5001, 500):
    selector = SelectFromModel(model, max_features=min(
        nf, X.shape[1])).fit(X[:Y.shape[0]], Y)
    X_transformed = selector.transform(X)
    cross_val(model, X_transformed, Y)

Number of features : 500
AUC score on valid part: 0.8666
AUC score on cross-val: 0.8012 0.0988

Number of features : 1000
AUC score on valid part: 0.8685
AUC score on cross-val: 0.8049 0.0976

Number of features : 1500
AUC score on valid part: 0.8696
AUC score on cross-val: 0.8052 0.0970

Number of features : 2000
AUC score on valid part: 0.8702
AUC score on cross-val: 0.8061 0.0969

Number of features : 2500
AUC score on valid part: 0.8703
AUC score on cross-val: 0.8066 0.0967

Number of features : 3000
AUC score on valid part: 0.8708
AUC score on cross-val: 0.8071 0.0968

Number of features : 3500
AUC score on valid part: 0.8708
AUC score on cross-val: 0.8072 0.0966

Number of features : 4000
AUC score on valid part: 0.8712
AUC score on cross-val: 0.8076 0.0966

Number of features : 4500
AUC score on valid part: 0.8713
AUC score on cross-val: 0.8078 0.0965

Number of features : 5000
AUC score on valid part: 0.8714
AUC score on cross-val: 0.8079 0.0965

tf-idf не подходит для данного набора векторов. Не частые посещения сайтов не определяют поведение. Поведение это выделение признаков, которые повторяются из раза в раз.

### Add features

### **Logit** sites plus  ngrams

Sort df by start date. Get info for visited sites. Convert visited sites to sparse matrix.

To sparse matrix.

In [ ]:
% % time
logit = LogisticRegression(C=1, random_state=17, solver='liblinear')
logit.fit(train_sites, y)

Create sparse. Add ngrams (range up to 3) to features

In [ ]:
% % time
time_split = TimeSeriesSplit(n_splits=10)
cv_scores2 = cross_val_score(logit, train_sites, y, cv=time_split,
                             scoring='roc_auc', n_jobs=1)
cv_scores2

In [ ]:
cv_scores2.mean(), cv_scores2.std()

In [ ]:
write_to_submission_file(logit.predict_proba(test_sites)[:, 1], "out2.csv")

#### **Public score : 0.91395**

### Example of Counting without '0's

In [ ]:
docs = np.array([[1]*2+[0]*3,
                 [3]*3+[1]*2,
                 [3]+[1]+[3]+[0]*2,
                 [10]*3+[0]*2])
docs

In [ ]:
[" ".join(map(str, row)) for row in docs]

In [ ]:
vectorizer = CountVectorizer(ngram_range=(1, 3), token_pattern='\w+')

In [ ]:
words_transformed = vectorizer.fit_transform(
    [" ".join(map(str, row)) for row in docs])
words_transformed.toarray()

In [ ]:
voc = vectorizer.vocabulary_
voc

In [ ]:
for k in voc.keys():
    print(f"{k} : {re.findall(r'(^0$)|( 0 )|(^0 )' , k)}")

In [ ]:
remove = [k for k in voc.keys() if (len(re.findall(r'(^0$)|( 0 )|(^0 )', k)))]
for k in remove:
    del voc[k]

ind = 0
for k in voc:
    voc[k] = ind
    ind += 1
voc

In [ ]:
vectorizer = CountVectorizer(ngram_range=(
    1, 2), token_pattern='\w+', vocabulary=voc)
words_transformed = vectorizer.fit_transform(
    [" ".join(map(str, row)) for row in docs])
words_transformed.toarray()

In [ ]:
vectorizer.vocabulary_

## Критерии оценки работы (только для Peer Review в специализации):
- Правильные ли получились размерности матриц в п. 1? (max. 2 балла)
- Правильным ли получилось значения ROC AUC в п. 2? (max. 4 балла)
- Побит ли бенчмарк "sgd_logit_benchmark.csv" на публичной части рейтинга в соревновании Kaggle? (max. 2 балла)
- Побит ли бенчмарк "Logit +3 features" на публичной части рейтинга в соревновании Kaggle? (max. 2 балла)

### **sgd_logit_benchmark.csv 0.91273**

### **Logit +3 features Yury Kashnitsky master 0.92784**

## Пути улучшения
На этой неделе дается много времени на соревнование. Не забывайте вносить хорошие идеи, к которым Вы пришли по ходу соревнования, в описание финального проекта (`html`, `pdf` или `ipynb`). Это только в случае, если вы проходите специализацию.
Что можно попробовать:
 - Использовать ранее построенные признаки для улучшения модели (проверить их можно на меньшей выборке по 150 пользователям, отделив одного из пользователей от остальных – это быстрее)
 - Настроить параметры моделей (например, коэффициенты регуляризации)
 - Если позволяют мощности (или хватает терпения), можно попробовать смешивание (блендинг) ответов бустинга и линейной модели. [Вот](http://mlwave.com/kaggle-ensembling-guide/) один из самых известных тьюториалов по смешиванию ответов алгоритмов, также хороша [статья](https://alexanderdyakonov.wordpress.com/2017/03/10/cтекинг-stacking-и-блендинг-blending) Александра Дьяконова
 - Обратите внимание, что в соревновании также даны исходные данные о посещенных веб-страницах Элис и остальными 1557 пользователями (*train.zip*). По этим данным можно сформировать свою обучающую выборку. 

На 6 неделе мы пройдем большой тьюториал по Vowpal Wabbit и попробуем его в деле, на данных соревнования.